.f16
  font-size 16px
.c9
  color: #999
.c3
  color #333333
.c0
  color: #000
.bg-f5
  background-color #f5f5f5
.warning
  color #ff0000
.bg-f5
  background-color #f5f5f5
.transform
  top 50%
  left 50%
  transform translate(-50%,-50%)
.clear:after
  display block
  contain ''
  height 0
  clear both
.bg-e5
  background-color #e5e5e5
.reverse
  flex-direction row-reverse
